body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

nav {
  background: #222;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
}

nav a:hover {
  color: #00ffcc;
}

#app {
  padding: 30px;
}

#logo {
  width: 150px;
  margin-bottom: 20px;
}

.abierto {
  color: lime;
  font-size: 28px;
}

.cerrado {
  color: red;
  font-size: 28px;
}