<h2>Menú</h2>

<h3>Tacos</h3>
<div class="carousel">
  <div class="card">
    <img src="https://via.placeholder.com/300" onclick="abrirModal(this.src)">
    <p>Taco Pastor</p>
  </div>

  <div class="card">
    <img src="https://via.placeholder.com/300" onclick="abrirModal(this.src)">
    <p>Taco Asada</p>
  </div>
</div>

<h3>Bebidas</h3>
<div class="carousel">
  <div class="card">
    <img src="https://via.placeholder.com/300" onclick="abrirModal(this.src)">
    <p>Refresco</p>
  </div>
</div>